<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>$(USERPROFILE)\.codescan\bin</PublishDir>
    <SelfContained>false</SelfContained>
    <PublishAot>false</PublishAot>
    <TrimMode></TrimMode>
    <IlcOptimizationPreference></IlcOptimizationPreference>
  </PropertyGroup>
</Project>
